<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.CarInfoMapper">
    <resultMap id="CarInfoMap" type="com.dpk.wgj.bean.CarInfo">
        <id column="car_id" property="carId"/>
        <result column="car_number" property="carNumber"/>
        <result column="car_type" property="carType"/>
        <result column="car_seat" property="carSeat"/>
        <result column="car_driver_id_a" property="carDriverIdA"/>
        <result column="car_driver_id_b" property="carDriverIdB"/>
    </resultMap>

    <select id="getCarInfoByCarNumber" resultMap="CarInfoMap">
        SELECT car_id, car_number, car_type, car_seat FROM car_info
        WHERE car_number = #{carNumber}
    </select>
    <select id="getCarInfoNoCompatibleByCarNumber" resultMap="CarInfoMap">
        SELECT * FROM car_info
        WHERE car_number = #{carNumber}
    </select>

    <select id="getCarInfoByCarId" resultMap="CarInfoMap">
        SELECT * FROM car_info
        WHERE car_id = #{carId}
    </select>


    <insert id="addCarInfo" parameterType="CarInfo" useGeneratedKeys="true" keyProperty="carId">
        INSERT INTO car_info (car_number, car_type, car_seat,car_driver_id_a)
        VALUES (#{carNumber}, #{carType}, #{carSeat},#{carDriverIdA})
    </insert>

    <delete id="deleteCarInfoByCarId" parameterType="int">
        DELETE from car_info WHERE car_id = #{carId}
    </delete>

    <update id="updateCarInfoByCarId" parameterType="CarInfo">
        update car_info
        <set>
            <if test="carNumber != null  and carNumber !=''" >
                car_number = #{carNumber,jdbcType=VARCHAR},
            </if>
            <if test="carType != null and carType != ''">
                car_type = #{carType,jdbcType=VARCHAR},
            </if>
            <if test="carSeat != null and carSeat != ''" >
                car_seat = #{carSeat,jdbcType=INTEGER},
            </if>
          <if test="carDriverIdA != null and carDriverIdA !=''">
              car_driver_id_a = #{carDriverIdA,jdbcType =INTEGER},
          </if>
            <if test="carDriverIdB != null and carDriverIdB !=''">
                car_driver_id_b = #{carDriverIdB,jdbcType =INTEGER},
            </if>
        </set>
        where car_id = #{carId,jdbcType=INTEGER}
    </update>

    <update id="updateCarInfoDriverIdByCarId" parameterType="CarInfo">
        update car_info
        <set>
            <if test="carDriverIdA == 0">
                car_driver_id_a = #{carDriverIdA,jdbcType =INTEGER},
            </if>
            <if test="carDriverIdB == 0">
                car_driver_id_b = #{carDriverIdB,jdbcType =INTEGER},
            </if>
        </set>
        where car_id = #{carId,jdbcType=INTEGER}
    </update>
    <select id="findCarInfoByMultiCondition" resultMap="CarInfoMap">
        SELECT car_id, car_number, car_type, car_seat FROM car_info
        <where>
            1 = 1
            <if test="carInfo != null" >
                <if test="carInfo.carNumber != null and carInfo.carNumber !=''">
                    AND car_number LIKE "%"#{carInfo.carNumber,jdbcType=VARCHAR}"%"
                </if>
                <if test="carInfo.carType != null and carInfo.carType !=''">
                    AND car_type LIKE "%"#{carInfo.carType,jdbcType=VARCHAR}"%"
                </if>
                <if test="carInfo.carSeat != 0 and carInfo.carSeat !=''">
                    AND car_seat = #{carInfo.carSeat,jdbcType=INTEGER}
                </if>
            </if>
        </where>
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="findCarInfoByMultiConditionCount" resultType="int">
        SELECT COUNT(*) FROM car_info
        <where>
            1 = 1
            <if test="carInfo != null">
                <if test="carInfo.carNumber != null and carInfo.carNumber !=''">
                    AND car_number LIKE "%"#{carInfo.carNumber,jdbcType=VARCHAR}"%"
                </if>
                <if test="carInfo.carType != null and carInfo.carType !=''">
                    AND car_type LIKE "%"#{carInfo.carType,jdbcType=VARCHAR}"%"
                </if>
                <if test="carInfo.carSeat != 0 and carInfo.carSeat !=''">
                    AND car_seat = #{carInfo.carSeat,jdbcType=INTEGER}
                </if>
            </if>
        </where>
    </select>
    <select id="getCarDriverIdInfo" resultMap="CarInfoMap">
        SELECT car_id,car_driver_id_a,car_driver_id_b FROM car_info
        where (car_driver_id_a is null OR car_driver_id_a = 0 OR car_driver_id_b is null OR car_driver_id_b = 0)
    </select>

    <select id="getCarInfoByDriverId" resultMap="CarInfoMap">
        SELECT * FROM car_info
        WHERE (car_driver_id_a = #{driverId} OR car_driver_id_b = #{driverId})
    </select>


</mapper>