<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.ComplaintInfoMapper">
    <resultMap id="ComplaintInfoMap" type="com.dpk.wgj.bean.ComplaintInfo">
        <id column="complaint_id" property="complaintId"/>
        <result column="complaint_content" property="complaintContent"/>
        <result column="complaint_status" property="complaintStatus"/>
        <result column="order_id" property="orderId"/>
        <result column="passenger_id" property="passengerId"/>
        <result column="complaint_feedback" property="complaintFeedback"/>
        <result column="complaint_feedback" property="complaintFeedback"/>
        <result column="complaint_create_time" property="complaintCreateTime"/>
        <result column="complaint_feedback_time" property="complaintFeedbackTime"/>
    </resultMap>

    <insert id="addComplaintInfoByOrderId" parameterType="ComplaintInfo" useGeneratedKeys="true" keyProperty="complaintId">
        INSERT INTO complaint_info (complaint_content, complaint_status, order_id, passenger_id, complaint_create_time)
        VALUES (#{complaintContent}, #{complaintStatus}, #{orderId}, #{passengerId}, #{complaintCreateTime})
    </insert>

    <delete id="deleteComplaintInfoByCommentId" parameterType="int">
        DELETE from complaint_info WHERE complaint_id = #{complaintId}
    </delete>

    <select id="getComplaintInfoByOrderId" resultMap="ComplaintInfoMap">
        SELECT complaint_id, complaint_content, complaint_status, order_id, passenger_id, complaint_create_time, complaint_feedback, complaint_feedback_time FROM complaint_info
        WHERE order_id = #{orderId}
    </select>

    <select id="getComplaintInfoByPassengerId" resultMap="ComplaintInfoMap">
        SELECT complaint_id, complaint_content, complaint_status, order_id, passenger_id, complaint_create_time, complaint_feedback, complaint_feedback_time  FROM complaint_info
        WHERE passenger_id = #{passengerId}
    </select>

    <update id="updateComplaintInfoStatus" parameterType="ComplaintInfo">
        UPDATE complaint_info
        <set>
            <if test="complaintStatus != null and complaintStatus != ''">
                complaint_status = #{complaintStatus,jdbcType=INTEGER},
            </if>
            <if test="complaintFeedback != null and complaintFeedback != ''">
                complaint_feedback = #{complaintFeedback,jdbcType=VARCHAR},
            </if>
            <if test="complaintFeedbackTime != null ">
                complaint_feedback_time = #{complaintFeedbackTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE complaint_id = #{complaintId,jdbcType=INTEGER}
    </update>

    <select id="findComplaintInfoByMultiCondition" resultMap="ComplaintInfoMap">
        SELECT * FROM complaint_info
        <where>
            1 = 1
            <if test="complaintInfo != null ">
            <if test="complaintInfo.complaintStatus != null and complaintInfo.complaintStatus != ''">
                AND complaint_status = #{complaintInfo.complaintStatus,jdbcType=INTEGER}
            </if>
                <if test="startTime != null and startTime != ''">
                    <![CDATA[
                    AND complaint_create_time = #{startTime,jdbcType=TIMESTAMP}
                     ]]>
            </if>
            <if test="complaintInfo.passengerId != null and complaintInfo.passengerId != ''">
                AND passenger_id = #{complaintInfo.passengerId,jdbcType=INTEGER}
            </if>
            </if>
        </where>
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="findComplaintInfoByMultiConditionCount" resultType="int">
        SELECT COUNT(*) FROM complaint_info
        <where>
            1 = 1
            <if test="complaintInfo != null ">
            <if test="complaintInfo.complaintStatus != null and complaintInfo.complaintStatus != ''">
                    AND complaint_status = #{complaintInfo.complaintStatus,jdbcType=INTEGER}
            </if>
                <if test="startTime != null and startTime != ''">
                    <![CDATA[
                    AND complaint_create_time = #{startTime,jdbcType=TIMESTAMP}
                     ]]>
                </if>
                <if test="complaintInfo.passengerId != null and complaintInfo.passengerId != ''">
                    AND passenger_id = #{complaintInfo.passengerId,jdbcType=INTEGER}
                </if>
            </if>
        </where>
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>
    <select id="findComplaintInfoCountByStatus" resultType="int">
        SELECT COUNT(complaint_status) FROM complaint_info
        WHERE  complaint_status = 1 OR complaint_status =2

    </select>

</mapper>