<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.DriverInfoMapper">
    <resultMap id="DriverInfoMap" type="com.dpk.wgj.bean.DriverInfo">
        <id column="driver_id" property="driverId"/>
        <result column="driver_wx_id" property="driverWxId"/>
        <result column="driver_name" property="driverName"/>
        <result column="driver_phone_number" property="driverPhoneNumber"/>
        <result column="driver_identity" property="driverIdentity"/>
        <result column="driver_location" property="driverLocation"/>
        <result column="driver_level_star" property="driverLevelStar"/>
        <result column="driver_licence" property="driverLicence"/>
        <result column="driver_status" property="driverStatus"/>
        <result column="flag" property="flag"/>
        <result column="car_id" property="carId"/>
        <result column="user_group_id" property="userGroupId"/>
    </resultMap>

    <select id="getAllDriverInfo" resultMap="DriverInfoMap">
        SELECT driver_location,driver_id,driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id,driver_image_url
        FROM driver_info
        WHERE driver_status = 1
    </select>
    <select id="getPutDriverInfo" resultMap="DriverInfoMap">
        SELECT driver_id,driver_name, driver_phone_number,driver_identity,car_id
        FROM driver_info
    </select>
    <select id="getDriverInfoByDriverName" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id
        FROM driver_info
        WHERE driver_name = #{driverName}
    </select>
    <select id="getDriverInfoByDriverStatus" resultMap="DriverInfoMap">
        SELECT driver_id,driver_name,driver_wx_id, driver_phone_number,driver_location, driver_identity, driver_level_star,driver_licence, driver_status, flag, car_id
        FROM driver_info
        WHERE driver_status = #{driverStatus}
    </select>

    <select id="getDriverInfoByDriverId" resultMap="DriverInfoMap">
        SELECT * FROM driver_info
        WHERE driver_id = #{driverId}
    </select>

    <select id="getDriverInfoByDriverPhoneNumber" resultMap="DriverInfoMap">
        SELECT driver_id,driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id
        FROM driver_info
        WHERE driver_phone_number = #{driverPhoneNumber}
    </select>
    <select id="getDriveInfoByDriverLevelStar" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status ,car_id
        FROM driver_info
        WHERE driver_level_star = #{driverLevelStar}
    </select>

    <select id="getDriveInfoByDriverIdentity" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status,car_id FROM driver_info
        WHERE driver_identity = #{arg0}
    </select>

    <select id="getDriverByMultiCondition" resultMap="DriverInfoMap">
        SELECT driver_id,driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status,car_id FROM driver_info
        <where>
            1 = 1
            <if test="driverInfo != null">
                <if test="driverInfo.driverName != null and driverInfo.driverName !=''">
                    AND driver_name LIKE #{driverInfo.driverName,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverWxId != null and driverInfo.driverWxId !=''">
                    AND driver_wx_id = #{driverInfo.driverWxId,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverPhoneNumber != null and driverInfo.driverPhoneNumber !=''">
                    AND driver_phone_number LIKE #{driverInfo.driverPhoneNumber,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverIdentity != null and driverInfo.driverIdentity !=''">
                    AND driver_identity = #{driverInfo.driverIdentity,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverLicence != null and driverInfo.driverLicence !=''">
                    AND driver_licence = #{driverInfo.driverLicence,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverLevelStar != 0 and driverInfo.driverLevelStar !=''">
                    AND driver_level_star LIKE #{driverInfo.driverLevelStar,jdbcType=INTEGER}
                </if>
                <if test="driverInfo.driverStatus !=''">
                    AND driver_status = #{driverInfo.driverStatus,jdbcType=INTEGER}
                </if>
            </if>
        </where>
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="getDriverByMultiConditionCount" resultType="int">
        SELECT COUNT(*) FROM driver_info
        <where>
            1 = 1
            <if test="driverInfo != null">
                <if test="driverInfo.driverName != null and driverInfo.driverName !=''">
                    AND driver_name LIKE #{driverInfo.driverName,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverWxId != null and driverInfo.driverWxId !=''">
                    AND driver_wx_id = #{driverInfo.driverWxId,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverPhoneNumber != null and driverInfo.driverPhoneNumber !=''">
                    AND driver_phone_number LIKE #{driverInfo.driverPhoneNumber,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverIdentity != null and driverInfo.driverIdentity !=''">
                    AND driver_identity = #{driverInfo.driverIdentity,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverLicence != null and driverInfo.driverLicence !=''">
                    AND driver_licence = #{driverInfo.driverLicence,jdbcType=VARCHAR}
                </if>

                <if test="driverInfo.driverLevelStar != 0 and driverInfo.driverLevelStar !=''">
                    AND driver_level_star LIKE #{driverInfo.driverLevelStar,jdbcType=INTEGER}
                </if>
                <if test="driverInfo.driverStatus !=''">
                    AND driver_status = #{driverInfo.driverStatus,jdbcType=INTEGER}
                </if>
            </if>
        </where>
    </select>

    <insert id="insertDriverInfo" parameterType="DriverInfo" >
        INSERT INTO driver_info (driver_name,driver_wx_id, driver_phone_number,driver_identity,driver_licence,car_id)
        VALUES (#{driverName}, #{driverWxId}, #{driverPhoneNumber},#{driverIdentity},#{driverLicence},#{carId})
    </insert>


    <update id="updateDriverInfoByDriverId" parameterType="DriverInfo">
        update driver_info
        <set>
            <if test="driverName != null  and driverName !=''">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="driverWxId != null and driverWxId !=''">
                driver_wx_id = #{driverWxId,jdbcType=VARCHAR},
            </if>
            <if test="driverPhoneNumber != null and driverPhoneNumber !='' ">
                driver_phone_number = #{driverPhoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="driverIdentity != null and driverIdentity !=''">
                driver_identity = #{driverIdentity,jdbcType=VARCHAR},
            </if>
            <if test="driverLicence != null and driverLicence !=''">
                driver_licence = #{driverLicence,jdbcType=VARCHAR},
            </if>
            <if test="driverLocation != null and driverLocation !=''">
                driver_location = #{driverLocation,jdbcType=VARCHAR},
            </if>
            <if test="driverLevelStar !=null  and driverLevelStar !=''">
                driver_level_star = #{driverLevelStar,jdbcType=INTEGER},
            </if>
            <if test="driverStatus !=null" >
                driver_status = #{driverStatus ,jdbcType = INTEGER},
            </if>
            <if test="flag !=null and flag !=''" >
                flag = #{flag ,jdbcType = INTEGER},
            </if>
            <if test="carId !=null and carId !=''" >
                car_id = #{carId ,jdbcType = INTEGER},
            </if>
        </set>
        where driver_id = #{driverId,jdbcType=INTEGER}
    </update>
    <update id="updateApiDriverInfoByDriverId" parameterType="DriverInfo">
        update driver_info
        <set>
            <if test="driverLocation != null  and driverLocation !=''">
                driver_location = #{driverLocation,jdbcType=VARCHAR},
            </if>
            <if test="driverStatus == 0">
                driver_status = #{driverStatus,jdbcType=INTEGER},
            </if>
            <if test="driverStatus == 1">
                driver_status = #{driverStatus,jdbcType=INTEGER},
            </if>
        </set>
        where driver_id = #{driverId,jdbcType=INTEGER}
    </update>

    <delete id="deleteDriverInfoByDriverId" parameterType="int">
        DELETE from driver_info WHERE driver_id = #{driverId}
    </delete>

    <select id="getDriverInfoByWxId" resultMap="DriverInfoMap">
        SELECT driver_wx_id, driver_id, user_group_id,driver_phone_number,driver_status,car_Id FROM driver_info
        WHERE driver_wx_id = #{driverWxId}
    </select>

    <insert id="addDriverInfo" parameterType="DriverInfo" useGeneratedKeys="true" keyProperty="driverId">
        INSERT INTO driver_info (driver_wx_id, user_group_id)
        VALUES (#{driverWxId}, #{userGroupId})
    </insert>

    <select id="getDriverInfoByCarId" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_phone_number, driver_location, driver_level_star, driver_status  FROM driver_info
        WHERE car_id = #{carId}
        AND driver_status = 1
    </select>

    <select id="getAllCarLocation" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_location, driver_status, car_id  FROM driver_info
        WHERE driver_status = 1
    </select>

    <update id="updateFlag" parameterType="DriverInfo">
        update driver_info
        <set>
                flag = #{flag,jdbcType=INTEGER},
        </set>
        WHERE driver_id = #{driverId,jdbcType=INTEGER}
    </update>

    <update id="updateCarId" parameterType="DriverInfo">
        update driver_info
        <set>
            car_id = #{carId,jdbcType=INTEGER},
        </set>
        WHERE driver_id = #{driverId,jdbcType=INTEGER}
    </update>

    <update id="updateDriverPhoneNumber" parameterType="DriverInfo">
        update driver_info
        <set>
            <if test="driverPhoneNumber != null and driverPhoneNumber !=''">
                driver_phone_number = #{driverPhoneNumber,jdbcType = VARCHAR}
            </if>
        </set>
        WHERE driver_id = #{driverId,jdbcType=INTEGER}
    </update>

</mapper>