<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.PassengerMapper">
    <resultMap id="PassengerMap" type="com.dpk.wgj.bean.Passenger">
        <id column="passenger_id" property="passengerId"/>
        <result column="passenger_wx_id" property="passengerWxId"/>
        <result column="passenger_phone_number" property="passengerPhoneNumber"/>
        <result column="passenger_location" property="passengerLocation"/>
        <result column="passenger_level_star" property="passengerLevelStar"/>
        <result column="passenger_status" property="passengerStatus"/>
        <result column="user_group_id" property="userGroupId"/>
    </resultMap>

    <select id="getPassengerByWxId" resultMap="PassengerMap">
        SELECT passenger_id, passenger_wx_id, user_group_id,passenger_phone_number FROM passenger_info
        WHERE passenger_wx_id = #{passengerWxId}
    </select>
    <select id="getPassengerByPhoneNumber" resultMap="PassengerMap">
        SELECT passenger_id, passenger_wx_id, user_group_id,passenger_phone_number FROM passenger_info
        WHERE passenger_phone_number = #{passengerPhoneNumber}
    </select>

    <select id="getPassengerByPassengerId" resultMap="PassengerMap">
        SELECT passenger_id, passenger_wx_id, passenger_location, passenger_phone_number, passenger_status, user_group_id FROM passenger_info
        WHERE passenger_id = #{passengerId}
    </select>

    <insert id="addPassenger" parameterType="Passenger" useGeneratedKeys="true" keyProperty="passengerId">
        INSERT INTO passenger_info (passenger_wx_id, user_group_id)
        VALUES (#{passengerWxId}, #{userGroupId})
    </insert>

    <update id="updatePassengerStatus" parameterType="Passenger">
        update passenger_info
        <set>
            <if test="passengerStatus != null and passengerPhoneNumber != ''">
                passenger_status = #{passengerStatus,jdbcType=INTEGER},
            </if>
        </set>
        WHERE passenger_id = #{passengerId,jdbcType=INTEGER}
    </update>

    <update id="updatePassengerPhoneNumber" parameterType="Passenger">
        update passenger_info
        <set>
            <if test="passengerPhoneNumber != null and passengerPhoneNumber != ''">
                passenger_phone_number = #{passengerPhoneNumber,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE passenger_id = #{passengerId,jdbcType=INTEGER}
</update>


</mapper>